* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body, html {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: 'Roboto';
  position: relative;
  cursor: none;
}

#top-screen {
  position: absolute;
  height: 100%;
  color: white;
  width: 100%;
  z-index: 99999;

  overflow: hidden;
  /* background: url("https://svvv.edu.in/images/logo-small.png"); */
  background-color: #000;
}

#top-screen>h1 {
  font-size: 120px;
  position: absolute;
  right: 5%;
  color: white;
  font-weight: 800;
  overflow: hidden;

}

#lowest {
  bottom: 5%;
}

#second-lowest {
  bottom: 25%;
}

#second-top {
  top: 20%;
}

#third-lowest {
  top: 40%;
}

#random-text {
  padding: 40px 40px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
}


a {
  text-decoration: none;
}

#main {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#main .bars {
  position: fixed;
  height: 30px;
  width: 50px;
  top: 5%;
  right: 5%;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 9999999999;
  cursor: pointer;
}

#nav-logo {
  position: absolute;
  left: 0%;
  padding: 10px 10px;
  background-position: center;
  display: none;
}

#main .bars::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  background: #fff;
  transition: 0.3s linear;
}

#main .bars.active::before {
  transform: rotate(45deg);
  width: 50%;
  top: 5%;
  background: #000;
}

#main .bars::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  background: #fff;
  top: 35%;
  transition: 0.3s linear;
}

#main .bars.active::after {
  transform: rotate(-45deg);
  width: 50%;
  top: 5%;
  background: #000;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  display: none;
}

.menu .navBefore {
  position: absolute;
  margin-left: 100%;
  width: 100%;
  height: 100%;
  background: gray;
}

.menu .nav {
  position: relative;
  margin-left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .nav ul {
  opacity: 0;
}

.menu .nav ul li {
  list-style: none;
}

.menu .nav ul li a {
  position: relative;
  font-size: 4.5rem;
  text-decoration: none;
  text-align: center;
  color: #666;
}

.menu .nav ul li a:hover,
.menu .nav ul li.active a {
  color: #000;
}





#nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5vw;
  gap: 35px;
  z-index: 999;
  padding: 0 35px;
  position: fixed;

}

#nav img {
  height: 70px;

}

#nav h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: #dadada;
}

.page1 {

  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}


@media (max-width:660px) {
  #random-text {
    font-size: 6vw;
    padding: 130px 10px;

  }

  #nav {
    display: none;

  }

  #nav-logo {
    display: flex;
    z-index: 999;
  }

  #main .bars {
    display: flex;



  }

  #top-screen>h1 {
    padding: 60px 20px;
    font-size: 6vh;
  }

  .page1 {
    background-color: #017bf5;
  }

}

/* -------------------------- mouse animation code ----------------------- */
.link {
  display: inline-block;
}

.circle {
  position: fixed;
  background-color: #fff;
  width: 10px;
  height: 10px;
  left: -10px;
  top: -10px;
  border-radius: 100%;
  z-index: 9999999999;
  /* user-select: none; */
  /* pointer-events: none; */
  z-index: 10000;
  transform: scale(1);

  &.active {
    opacity: 1;
    transform: scale(0);
  }
}

.circle-follow {
  position: fixed;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  left: -21px;
  top: -21px;
  border-radius: 100%;
  z-index: 9999999;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  /* //overflow: hidden; */
  transform: scale(1);

  &.active {
    transform: scale(3);
  }
}

/* ---------------------------- end here -------------- */



/* -------------page 1 animation---------------------- */

section {
  padding: 10vw;
  height: 100vh;
  min-height: 100vh;
  background: #111;
  overflow: visible;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}

#page1-h1{
 
    font-weight: 900;
    margin: 2rem auto;
    font-size: clamp(6vw, 3rem, 6rem);
    text-align: center;
    z-index: 999;
    
    max-width: 800px;
    line-height: 70px;
    color: #dadada;
    mix-blend-mode: difference;
    pointer-events: none;
  
}
#page1-h1>span{
  font-size: 1.6vw;
  font-weight: 800;
  white-space: nowrap;
  
}

.credit {
  text-align: center;
  z-index: 999;
  font-size: 0.8rem;
  position: absolute;
  bottom: 15%;
  right: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  a {
    color: #fff;
  }
}

.gallery {
  z-index: 1;
}

.image {
  position: fixed;
  filter: saturate(0);
}

.image:hover {
  z-index: 999 !important ;
  filter: saturate(1);
}

.gallery img:hover {
  transform: scale(1.05) rotate(5deg);
}

.gallery img {
  transition: 0.3s ease-out;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 100%;
}
