* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
 
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: 'Roboto';
  position: relative;
  
}

.cursor {
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 100000000000000000000000;
  transform: scale(1);

  &.active {
      opacity: 1;
      transform: scale(0);
  }

  &.menu-active {
      opacity: 1;
      transform: scale(0);
  }

  &.hovered {
      opacity: 1;
  }
}

.cursor-follower {
  position: absolute;
  border:1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 100000000000000000000;
  transform: translate(2px, 2px);
  /* //overflow: hidden; */

  &.active {
      opacity: 1;
      transform: scale(3);
  }

  &.menu-active {
      opacity: 1;
      transform: scale(3);
  }

  &.hovered {
      opacity: 1;
  }

}


#top-screen {
  position: absolute;
  height: 100%;
  color: white;
  width: 100%;
  z-index: 9999999 !important;

  overflow: hidden;
  /* background: url("https://svvv.edu.in/images/logo-small.png"); */
  background-color: #000;
}

#top-screen>h1 {
  font-size: 120px;
  position: absolute;
  right: 5%;
  color: white;
  font-weight: 800;
  overflow: hidden;

}

#lowest {
  bottom: 5%;
}

#second-lowest {
  bottom: 25%;
}

#second-top {
  top: 20%;
}

#third-lowest {
  top: 40%;
}

#random-text {
  padding: 40px 40px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
}


a {
  text-decoration: none;
  color: white;
}

#main {
  position: relative;
  height: 100%;
  width: 100%;
  /* background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80"); */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#main .bars {
  position: fixed;
  height: 30px;
  width: 50px;
  top: 5%;
  right: 5%;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 9999999999;
  cursor: pointer;
}

#nav-logo {
  position: absolute;
  left: 0%;
  padding: 10px 10px;
  background-position: center;
  display: none;
}

#main .bars::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  background: #fff;
  transition: 0.3s linear;
}

#main .bars.active::before {
  transform: rotate(45deg);
  width: 50%;
  top: 5%;
  background: #000;
}

#main .bars::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  background: #fff;
  top: 35%;
  transition: 0.3s linear;
}

#main .bars.active::after {
  transform: rotate(-45deg);
  width: 50%;
  top: 5%;
  background: #000;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  display: none;
}

.menu .navBefore {
  position: absolute;
  margin-left: 100%;
  width: 100%;
  height: 100%;
  background: gray;
}

.menu .nav {
  position: relative;
  margin-left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .nav ul {
  opacity: 0;
}

.menu .nav ul li {
  list-style: none;
}

.menu .nav ul li a {
  position: relative;
  font-size: 4.5rem;
  text-decoration: none;
  text-align: center;
  color: #666;
}

.menu .nav ul li a:hover,
.menu .nav ul li.active a {
  color: #000;
}





#nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5vw;
  gap: 35px;
  z-index: 999;
  padding: 0 35px;
  position: relative;
  background: #000;
 

}

#nav img {
  height: 70px;

}

#nav h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: #dadada;
}

.page1 {

  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  text-align: center;
  
}



/* -------------------------- mouse animation code ----------------------- */
.link {
  display: inline-block;
}

/* Other CSS styles above this point */

/* .circle and .circle-follow styles moved outside of .page1 */


/* Rest of your CSS styles below this point */


/* ---------------------------- end here -------------- */



/* -------------page 1 animation---------------------- */

section {
  padding: 5vw;
  height: 100vh;
  min-height: 100vh;
  background: #111;
  overflow: visible;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}

#page1-h1{
 
    font-weight: 900;
    margin: 2rem auto;
    font-size: 7vw;
    text-align: center;
    z-index: 999;
    
    max-width: 800px;
    line-height: 50px;
    color: #dadada;
    mix-blend-mode: difference;
    pointer-events: none;
  
}
#page1-h1>span{
  font-size: 2vw;
  font-weight: 800;
  white-space: nowrap;
  
}

.credit {
  text-align: center;
  z-index: 999;
  font-size: 0.8rem;
  position: absolute;
  bottom: 15%;
  right: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  a {
    color: #fff;
  }
}

.gallery {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.image {
  position: absolute;
  filter: saturate(0);
}

.image:hover {
  z-index: 999 !important ;
  filter: saturate(1);
}

.gallery img:hover {
  transform: scale(1.05) rotate(5deg);
}

.gallery img {
  transition: 0.3s ease-out;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 100%;
}

/* -----------------------------page 2 ------------------------------------------- */

.page2{
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: #000;
  padding:40px 0px;
  color: #fff;
  
}
#scroller{
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
  
}
#scroller::-webkit-scrollbar{
  display: none;
}
#scroller-in{
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}

#scroller h4{
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
 
  margin-right: 10px;
  color: black;
  -webkit-text-stroke: 2px #fff;
  
  
}
#scroller h4:hover{
  color: #fff;
  -webkit-text-stroke-color:white ;
  transition: all linear 0.5s ;
}
@keyframes scroll {
  from {
          transform: translateX(0);
  }
  to{
          transform: translateX(-100%);
  }
  
}
#about-us{
  position: relative;
  height: 100vh;
  color: #fff;
  padding: 20px;
 text-align: center;
 
}
#abh1{
  font-size: 5vw;
}

.about-kaushal{
  display: flex;
  width: 100%;
  padding: 70px;
  
  justify-content: space-between;
}
.about-us-div1{
  width: 50%;
  font-size: 1.5vw;
  text-align: left;
}
.about-us-div2{
  width: 50%;
  position: relative;
  font-size: 1.8vw;
  align-items: center;
  
  
}
.about-us-div2 h3{
  position: absolute;
  top: 0%;
}


/* -------------page3----------------- */
.page3{
  padding-top: 20px;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
 

  padding-right: 10vw;
 
  color: #fff;
}
.elem{

  position: relative;
  width: 100%;
  padding: 2vw 1vw;
  border-top: 1px solid #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
}
.elem h1{
  text-transform: uppercase;
  font-size: 6vw;
  opacity: 0.7;
  padding-left: 2vw;
}
.elemlast{
  border-bottom: 1px solid #888;
}

.elem img{
  position: absolute;
  z-index: 999;
  opacity: 0;
  height: 200px;
  width: 350px;
  object-fit: cover;

}

#event{
  font-size: 10vw;
  font-weight: 600;
  text-align: center;
  padding-bottom: 50px;
}









@media (max-width:660px) {
  #random-text {
    font-size: 6vw;
    padding: 130px 10px;

  }
  #scroller>h1{
    
  }
  
  

  #nav {
    display: none;

  }

  #nav-logo {
    display: flex;
    
    z-index: 999;
  }

  #main .bars {
    display: flex;


  }

  #top-screen>h1 {
    padding: 60px 20px;
    font-size: 10vh;
  }

  .page1 {
    height: 100vh;
    width: 100vw;
    background-color: #017bf5;
  }
  #page1-h1{
    font-size: 60px;
    font-weight: 900;
  }
  #page1-h1>span{
    font-size: 20px;
    white-space: normal;
    
  }
  
  #about-us>h1{
    font-size: 50px;
    

  }
  
  .about-kaushal{
    flex-direction: column;
    min-width: 100%;
   
   
  }
  .about-us-div1{
    
    font-size: 18px;
    padding: 2px;
    min-width: 100%;
    overflow:visible;
    
  }
  

}
